html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.promo .promo__body {
    position: relative;
    min-height: 65rem;
    background: url(../img/back/promo-img.png) center center/cover no-repeat;
    padding: 4.6rem 0 15.4rem 0;
}

.container .container__body {
    position: relative;
    width: 113rem;
    margin: 0 auto;
}

.menu .menu__body {
    width: 47.9rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.menu .menu__item {
    font-family: 'OpenSans', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.menu__arrow {
    border: solid #fff;
    border-width: 0 .15rem .15rem 0;
    
    display: inline-block;
    padding: .3rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0 0 .2rem .4rem;
}

.logo .logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 19.8rem;
    height: 10.2rem;
    background-color: #6fcf97;
}

.order .order__body {
    position: absolute;
    top: 4.6rem;
    right: 3.8rem;
}

.order .order__link {
    font-family: 'OpenSans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    
    color: #ffffff;
    text-decoration: none;
    border-bottom: .3rem solid #6fcf97;
}

.title__text {
    margin: 0 auto;
    margin-top: 18.4rem;
    text-align: center;
    
    font-family: 'OpenSans', sans-serif;
    font-size: 4.6rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .115rem;
    
    color: #ffffff;
}

.menu-btn .menu-btn__body {
    margin: 0 auto;
    margin-top: 5.1rem;
    width: 26.6rem;
    height: 7rem;
    background-color: #6fcf97;
}
.menu-btn .menu-btn__text {
    padding: 2rem 0 2.3rem 0;
    font-family: 'OpenSans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .05rem;
    text-align: center;
    color: #ffffff;
}

.food-info .food-info__body {
    position: relative;
    min-height: 71.2rem;
    background-color: #effff6;
    padding-top: 10.1rem;
    padding-bottom: 5.8rem;
}

.food-info .food-info__title {
    padding-top: .6rem;
    display: block;
    width: 40rem;
    min-height: 8.8rem;
    font-family: 'OpenSans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .08rem;
    color: #333333;
}

.food-info .food-info__line {
    width: 21rem;
    height: .8rem;
    background-color: #6fcf97;
}

.food-info .food-info__desc {
    margin-top: 3.2rem;
    max-width: 55.5rem;
    min-height: 23.8rem;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.87;
    letter-spacing: .045rem;
    color: #4f4f4f;
}

.advantages .advantages__body {
    margin-top: 9.1rem;
    max-width: 52.5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
}

.advantages .advantages__item {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 23rem;
    min-height: 8.2rem;
    background-color: #333333;
}

.advantages .advantages__text {
    padding-left: 1.5rem;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.87;
    letter-spacing: .045rem;
    color: #ffffff;
}

.photo-frame__body {

    position: absolute;
    top: 0;
    right: 0;
    height: 54.4rem;
    width: 48.9rem;

}

.photo-frame .photo-frame__back-img {
    position: absolute;
    right: 0;
    z-index: 0;
}

.photo-frame .photo-frame__front-img {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.delicious-food .delicious-food__body {
    padding: 13rem 0;
    min-height: 114.4rem;
    background-color: #fff;
}

.delicious-food .delicious-food__title {
    display: block;
    text-align: center;

    font-family: 'OpenSans', sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .08rem;
    color: #333333;
}

.food-menu .food-menu__body {
    margin-top: 6.8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.food-menu .food-menu__item {
    display: flex;
    justify-content: space-between;
}

.food-menu .food-menu__text {
    margin-left: 2rem;
    width: 32.5rem;
}

.food-menu .food-menu__title {
    margin-top: 3rem;
    display: block;

    font-family: 'OpenSans', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .06rem;
    color: #000000;
}

.food-menu .food-menu__desc {
    margin-top: 1.5rem;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .045rem;
    color: #000000;
}

.food-menu .food-menu__price {
    margin-top: 2rem;
    font-family: 'OpenSans', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .06rem;
    color: #6fcf97;
}

.food-menu__item:nth-child(even) .food-menu__text {
    width: 28.9rem;
}

.food-menu .food-menu__item:nth-child(n+3) {
    margin-top: 7.1rem;
}

.gallery .gallery__body {
    padding-bottom: 13rem;
}

.gallery .gallery__title {
    text-align: center;
    font-family: 'OpenSans', sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .08rem;
    color: #333333;
}

.photos .photos__body {
    width: 144rem;
    margin: 0 auto;
    margin-top: 6.8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photos__body .photos__img:nth-child(n+4) {
    margin-top: 1.4rem;
}

.reservation .reservation__body {
    padding-bottom: 10rem;
}

.reservation .reservation__title {
    text-align: center;

    font-family: 'OpenSans', sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .08rem;
    color: #333333;
}

.reservation-frame .reservation-frame__body {
    min-height: 59.9rem;
    margin-top: 6.8rem;
    background-color: #6fcf97;
}

.footer .footer__body {
    padding-top: 8.1rem;
    background-color: #333333;
    min-height: 50rem;
}

.information .information__body {
    display: flex;
    justify-content: space-between;

}

.information__body .links__title,
.information__body .subscribe__title {
    display: block;
    margin-top: 2.1rem;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .045rem;
    color: #6fcf97;
}

.contacts__body .contacts__text {
    margin-top: 5.5rem;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .045rem;
    color: #ffffff;
}

.links__body .links__wrapper {
    margin-top: 5.9rem;
}

.links__body .links__item {
    font-family: 'OpenSans', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .045rem;
    color: #ffffff;
}

.links__body .links__item:nth-child(n+1) {
    margin-top: 1.5rem;
}

.subscribe .subscribe__title {
    padding-right: 35.1rem;
}

.subscribe__body .subscribe__input {
    position: relative;
    margin-top: 6.5rem;
    min-height: 6.5rem;
    border: solid 1px #ffffff;

}

.subscribe__body .subscribe__hint {
    padding: 2rem 0 2rem 2rem;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .045rem;
    color: #ffffff;

}

.subscribe__body .subscribe__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    height: 65px;

    background-color: #6fcf97;
} 


.subscribe__body .subscribe__text {
    margin-top: 2.9rem;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .04rem;
    color: #f2f2f2;
}

.subscribe__body .subscribe__btn-text {
    margin: 2rem 4.1rem;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .045rem;
    color: #ffffff;
}

.footer__body .footer__line {
  margin: 0 4rem;
  margin-top: 6.7rem;  
  height: 1px;
  background-color: #f2f2f2;
}

.footer__body .footer__copyright {
    text-align: center;
    margin-top: 3.8rem;
    font-family: 'OpenSans', sans-serif;
    font-size: 1.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: .045rem;
    color: #ffffff;
}